@model Conference.Models.Session

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Session</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Abstract)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Abstract)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Speaker.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Speaker.Name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@Html.Action("_GetForSession", "Comment", new { SessionId = Model.Id })