@{
    ViewBag.Title = "Knockout.js + TypeScript";
}

<h2>Using knockout.js library together with TypeScript.</h2>
<h3>Based on knockout tutorial: <a href="http://learn.knockoutjs.com">http://learn.knockoutjs.com</a></h3>

<ul>
    <li><a href="@Url.Action("SimpleBinding")">Simple binding</a></li>
    <li><a href="@Url.Action("ComputedValues")">Computed values</a></li>
    <li><a href="@Url.Action("Collections")">Collections</a></li>
    <li><a href="@Url.Action("SinglePageApps")">Single page apps (webmail)</a></li>
    <li><a href="@Url.Action("CustomBindings")">Custom bindings (survey)</a></li>
    <li><a href="@Url.Action("LoadSaveData")">Loading and saving data (task list)</a></li>
</ul>


<!-- TODO: Remove this -->
<div id="messagebox">
</div>


